<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige tout le trafic vers HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Dirige tout vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    # Autorise l'accès au répertoire storage
    Options -Indexes
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/storage
    RewriteRule ^storage/(.*)$ /storage/$1 [L]
</IfModule>

# Protéger le fichier .env
<FilesMatch "^\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Protéger les fichiers sensibles
<FilesMatch "(\.log|composer\.(json|lock))$">
    Order allow,deny
    Deny from all
</FilesMatch>
