@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 100 900;
        src: url("../fonts/inter-vf.ttf") format("truetype");
    }
    @font-face {
        font-family: "Inter Italic";
        font-style: italic;
        font-weight: 100 900;
        src: url("../fonts/inter-vf-italic.ttf") format("truetype");
    }
    @font-face {
        font-family: "Overused Grotesk";
        font-style: normal;
        font-weight: 100 900;
        src: url("../fonts/overused-grotesk-vf.ttf") format("truetype");
    }

    html,
    body {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
        @apply overflow-x-hidden text-sk-dark bg-sk-light;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        font-family: "Overused Grotesk", sans-serif;
        margin: 0;
        padding: 0;
    }

    h1,
    .h1 {
        @apply text-[3.44rem] lg:text-[6.125rem] 2xl:text-[6.125vw];
        font-style: normal;
        font-weight: 500;
        line-height: 95%;
    }

    h2,
    .h2 {
        @apply text-[2.81rem] lg:text-[4.6875rem] 2xl:text-[4.6875vw];
        font-weight: 400;
        line-height: 95%;
    }

    h3,
    .h3 {
        @apply text-[2.31rem] lg:text-[3.5rem] 2xl:text-[3.5vw];
        font-weight: 400;
        line-height: 99%;
    }

    h4,
    .h4 {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 99%;
    }

    h5,
    .h5 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 99%;
    }

    h6,
    .h6 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 99%;
    }

    .text-body-sm {
        @apply text-[0.875rem] lg:text-[1rem] 2xl:text-[1vw];
        line-height: 150%;
    }

    .text-body-base {
        @apply text-[1rem] lg:text-[1.1875rem] 2xl:text-[1.1875vw];
        line-height: 150%;
    }

    .text-body-lg {
        @apply text-[1.25rem] lg:text-[1.625rem] 2xl:text-[1.625vw];
        line-height: 135%;
    }

    input[type=file]::file-selector-button {
        display: none;
    }

    blockquote {
        @apply ml-24 border-l pl-4 border-sk-dark;
    }

    section::before, footer::before {
        background-image: url('../images/noise.gif');
        background-size: auto;
        bottom: 0;
        content: "";
        left: 0;
        opacity: 0.04;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .pricing-web:not(:first-child) {
        clip-path: inset(0% 0% 100% 0%);
    }
}
